DIV.appNavModule {
	FONT-SIZE: 0.7em; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 0px; PADDING-TOP: 2px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #7da0c5; max-width: 100%
}
DIV.appNavModule DIV {
	BORDER-RIGHT: #6d87a4 1px solid; PADDING-RIGHT: 1em; DISPLAY: inline; PADDING-LEFT: 1em; Z-INDEX: 200; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 12px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #7da0c5
}
DIV.appNavModule DIV A {
	WHITE-SPACE: nowrap
}
DIV.appNavModule DIV.currentTab {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; MARGIN: 0px 0px 12px; COLOR: #ffffff; BACKGROUND-COLOR: #014175
}
DIV.appNavExtra {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-SIZE: 0.65em; Z-INDEX: 100; RIGHT: 10px; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 4px; max-width: 100%
}
DIV.appNavExtra DIV {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999999; PADDING-TOP: 0px
}
DIV.appNavModule DIV A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
DIV.appNavModule DIV A:link {
	COLOR: #ffffff
}
DIV.appNavModule DIV A:visited {
	COLOR: #ffffff
}
DIV.appNavModule DIV A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
DIV.appNavModule DIV A:active {
	COLOR: #ffffff
}
DIV.appNavExtra A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
DIV.appNavExtra A.linkDashboard {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 11px; BACKGROUND-IMAGE: url(../../../../common_ui/images/icon-link-popup.gif); BACKGROUND-REPEAT: no-repeat
}
DIV.appNavExtra A.linkHelp {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 11px; BACKGROUND-IMAGE: url(../../../../common_ui/images/icon-link-popup.gif); BACKGROUND-REPEAT: no-repeat
}
DIV.appNavExtra DIV A:link {
	COLOR: #7da0c5
}
DIV.appNavExtra DIV A:visited {
	COLOR: #7da0c5
}
DIV.appNavExtra DIV A:hover {
	COLOR: #0000ff
}
DIV.appNavExtra DIV A:active {
	COLOR: #7da0c5
}
DIV.appNavModule DIV.currentTab A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.appNavModule DIV.currentTab A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.appNavModule DIV.currentTab A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
DIV.appNavModule DIV.currentTab A:active {
	COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.mainModuleContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
DIV.pageNavModule {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13em; LEFT: -1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 6px; POSITION: relative
}
DIV.navHierarchy {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 2em; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px 8.5em 0px 0px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #fffaeb
}
DIV.navHierarchy {
	BORDER-TOP: #999999 1px solid; HEIGHT: 2.25em
}
UNKNOWN {
	BORDER-TOP: #999999 1px solid; MIN-HEIGHT: 1.75em; MARGIN-BOTTOM: 6px; HEIGHT: auto
}
DIV.navHierarchyDeeper {
	
}
DIV.navHierarchy H2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 3px; PADDING-TOP: 0px
}
DIV.navHierarchyDeeper H2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 3px; PADDING-TOP: 0px
}
DIV.navHierarchy P {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 0.65em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 3px; PADDING-TOP: 0px
}
DIV.navHierarchyDeeper P {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 0.65em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 3px; PADDING-TOP: 0px
}
DIV.navHierarchy P SPAN.pathLevel {
	COLOR: #999999; WHITE-SPACE: nowrap
}
DIV.navHierarchyDeeper P SPAN.pathLevel {
	COLOR: #999999; WHITE-SPACE: nowrap
}
DIV.navHierarchy P SPAN.pathLevelCurrent {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffff00
}
DIV.navHierarchyDeeper P SPAN.pathLevelCurrent {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffff00
}
DIV.navPageTitle {
	BORDER-RIGHT: #a6a6a8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a6a6a8 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 3px; BORDER-LEFT: #a6a6a8 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a6a6a8 1px solid
}
DIV.navPageTitle H1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffcc
}
DIV.navHierarchy A:link {
	COLOR: #7da0c5; TEXT-DECORATION: underline
}
DIV.navHierarchy A:visited {
	COLOR: #7da0c5; TEXT-DECORATION: underline
}
DIV.navHierarchy A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
DIV.navHierarchy A:active {
	COLOR: #7da0c5; TEXT-DECORATION: underline
}
DIV.pageNavTabs {
	PADDING-RIGHT: 0px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 2px; MARGIN: 6px 0px 0px; WIDTH: 100%; PADDING-TOP: 2px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #7da0c5; max-width: 100%; min-width: 100%
}
DIV.pageNavTabs DIV {
	BORDER-RIGHT: #6d87a4 1px solid; PADDING-RIGHT: 1em; DISPLAY: inline; PADDING-LEFT: 1em; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 12px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #7da0c5
}
DIV.pageNavTabs DIV A {
	WHITE-SPACE: nowrap
}
DIV.pageNavTabs DIV.currentTab {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; MARGIN: 0px 0px 12px; COLOR: #ffffff; BACKGROUND-COLOR: #014175
}
DIV.pageNavTabs DIV A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.pageNavTabs DIV A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.pageNavTabs DIV A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
DIV.pageNavTabs DIV A:active {
	COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.pageNavTabs DIV.currentTab A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.pageNavTabs DIV.currentTab A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.pageNavTabs DIV.currentTab A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
DIV.pageNavTabs DIV.currentTab A:active {
	COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.navLastRefresh {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; RIGHT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; POSITION: absolute; TOP: 6px; TEXT-ALIGN: right
}
DIV.navLastRefresh P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.65em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 2px; POSITION: relative
}
DIV.navLastRefresh BUTTON {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-SIZE: 0.65em; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; FONT-STYLE: normal; POSITION: relative
}
.linkExpandThis {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: left center; PADDING-LEFT: 11px; BACKGROUND-IMAGE: url(../images/icon-link-ec-expand.gif); BACKGROUND-REPEAT: no-repeat
}
.linkContractThis {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: left center; PADDING-LEFT: 11px; BACKGROUND-IMAGE: url(../images/icon-link-ec-contract.gif); BACKGROUND-REPEAT: no-repeat
}
A.popupWindow {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: left center; PADDING-LEFT: 11px; BACKGROUND-IMAGE: url(../../../../common_ui/images/icon-link-popup.gif); BACKGROUND-REPEAT: no-repeat
}
A.downloadFile {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: left center; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(../../../../common_ui/images/icon-link-download.gif); BACKGROUND-REPEAT: no-repeat
}
